.game {
    width: 1000px;
    height: 300px;
    border-bottom: 1px solid black;
    margin: auto;
    background-color: rgb(228, 238, 255);
}

#loom {
    width: 90px;
    height: 90px;
    background-image: url(img/animal1.png);
    background-size: 90px 90px;
    position: relative;
    top: 210px;

}

#puu {
    width: 60px;
    height: 80px;
    background-image: url(img/tree2.png);
    background-size: 60px 80px;
    position: relative;
    top: 135px;
    left: 1000px;
    animation: puuMov 4s infinite linear;

}

#pilv {
    width: 80px;
    height: 80px;
    background-image: url(img/sun6.png);
    background-size: 80px 80px;
    position: relative;
    top: -260px;
    left: 1000px;
    animation: puuMov 11s infinite linear;

}

#kivi {
    width: 60px;
    height: 60px;
    background-image: url(img/kivi3.png);
    background-size: 60px 60px;
    position: relative;
    top: 102px;
    left: 600px;
    animation: kiviMov1 5.5s infinite linear;

}

#papagoi {
    width: 80px;
    height: 60px;
    background-image: url(img/papagoi.png);
    background-size: 80px 60px;
    position: relative;
    top: -70px;
    left: 600px;
    animation: kiviMov1 3s infinite linear;

}





@keyframes puuMov {
0% {
    left: 1000px;
}
100% {
    left: -20px;
}
}

@keyframes kiviMov1 {
    0% {
        left: 1400px;
    }
    100% {
        left: -20px;
    }
    }

.jump {
    animation: jump 1s linear;
}


@keyframes jump {
    0% {
        top: 210px;
    }
    30% {
        top: 80px;
    }
    50% {
        top: 10px;
    }
    80% {
        top: 80;
    }
    100% {
        top: 210px;
    }
    }

    .contact {
        margin-top: 40px;
        margin-left: 610px;
        margin-right: auto;
}

.quest {
    margin-left: 6px;
}

.nupp {
    margin-left: 39px;
}