<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Game</title>
    <link rel="stylesheet" href="game.css">
    <link rel="stylesheet" href="matkaklubi.css">

</head>

<body>
    <div class="game">
        <div id="loom"></div>
        <div id="puu"></div>
        <div id="kivi"></div>
        <div id="papagoi"></div>
        <div id="pilv"></div>
    </div>

    <div class="contact">
        

        <h1>Contact Us</h1>


        <input type="text" placeholder="Enter your Name" id="name" />
        <br><br>
        <input type="text" placeholder="Enter your @mail" id="mail" />
        <br><br>
        <div class="quest"><span>What is your question?</span>
            <br>
            <textarea id="question" rows="4"></textarea>
            <br><br>
        </div>
        <div class="nupp"><button onclick="sendContact();">Send Message</button></div>
    </div>

    <script src="game.js"></script>
</body>

</html>