<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
    <link rel="stylesheet" href="matkaklubi.css">
    <link rel="stylesheet" href="uudised.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
        <div class="container">
            <div class="row paiserida">
                <div class="col-8 col-md-4 pais-logoala">
                    <div class="pais-logo"></div>
                    <div class="pais-nimi">Beyond Limits</div>
                </div>
                <div class="col-4 d-md-none">
                    <button type="button" class="btn btn-outline-secondary">--</button>
                </div>
                <div class="col-md-8 pais-menyy">
                    <ul class="d-none d-md-flex flex-column flex-md-row">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./uudised.html">News</a></li>
                         <li><a href="./kontakt.html">Contakt</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="latestNews">Latest News</h2>
                <div class="container uudis">
                    
                        <div class="uudis1">
                            <h4>*  Adirondack hiking challenges for novices, families, dogs, beer drinkers that can earn you a patch
                                </h4>
                                MARY BETH “MOUSE” SKYLIS Updated May 27, 2021; Posted May 27, 2021
                        </div>
                        <div class="uudis2">
                            <h4>* The U.S. Is in Drought Again—and That’s Bad News for Fire Season
                                </h4>
                                JACK DALEO Updated May 21, 2021; Posted May 27, 2021
                        </div>
                        <div class="uudis3">
                           <h4>* Colorado Charged Two Backcountry Snowboarders With a Crime After They Reported an Avalanche. Will Riders Ever Trust the State Again?
                            </h4>
                            ADAM ROY Updated May 24, 2021; Posted May 27, 2021
                        </div>
                        
                    
                </div>
        </div>
    <script src="uudised.js"></script>
</body>
</html>